body { 
    background-color: rgba(127, 255, 212, 0.336) !important;
}
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 50rem !important;
}
.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.4);
    align-items: center;
    padding-top: 12px;
}